* {
  margin: 0px;
  padding: 0px;
}
#image {
  position: relative;
  z-index: -1;
}
#content {
  height: 750px;
  width: 100%;
  margin-top: -10px;
  background-color: #000;
  position: relative;
  z-index: 1;
  border-top: 1px solid white;
}

.navbar {
  width: 100%;
  height: 60px;
  /*background: rgba(0,0,0,0.59);*/ 
  background: black;
  position: fixed;
  top: 0px;
  z-index: 10;
  border-bottom: 1px solid #fff;
}

.main-heading-container {
  position: absolute;
  /*width: 500px;*/
  height: 300px;
  color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-heading {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
    font-size: 175px;
    font-family: sans-serif;
    letter-spacing: 10px;
    color: white;
}

.main-heading:hover {
  color:gray;
  cursor: pointer;
}

.main-quote {
  padding: 0 0 4px 0;
  font-size: 25px;
  line-height: 40px;
  display: inline;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 20px 0 0 0 rgba(0,0,0,0.8),-10px 0 0 0 rgba(0,0,0,0.8);
  left: 10px;
  position: relative;
}

.quotes-container {
  top: 65px;
  display: block;
  width: 100%;
  position: absolute;
  color: gray;
  font-family: sans-serif;
  font-weight: 100;
  max-width: 515px;
}

.navbar > ul {
  display: table;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
}

.navbar > ul > li {
  display: table-cell;
  line-height: 60px;
  padding: 0px 55px;
  border-right: 1px solid white;
}

.navbar > ul > li:hover {
  background: white;
  cursor: pointer;
  color: black;
}

.scroll-to-top-trigger {
  font-family: sans-serif;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  display: block;
  cursor: pointer;
}

.scroll-to-top-trigger:hover {
  font-weight: bold;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}
}

  